<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="prismicSearchIndexHandler" type="\Smile\ElasticsuiteCore\Indexer\GenericIndexerHandler">
        <arguments>
            <argument name="indexName" xsi:type="string">prismic</argument>
            <argument name="typeName" xsi:type="string">prismic</argument>
        </arguments>
    </virtualType>

    <type name="Elgentos\ElasticsuitePrismicSearch\Model\Prismic\Indexer\Fulltext">
        <arguments>
            <argument name="indexerHandler" xsi:type="object">prismicSearchIndexHandler</argument>
        </arguments>
    </type>

<!--    needs a Prismic equivalent - incoming webhook? -->
<!--    <type name="Magento\Cms\Model\ResourceModel\Page">-->
<!--        <plugin name="smile_elasticsuite_cms_reindex_page_after_cms_page_save"-->
<!--                type="\Smile\ElasticsuiteCms\Plugin\Indexer\Page\Save\ReindexPageAfterSave"/>-->
<!--    </type>-->
</config>
