<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Elgentos_ElasticsuitePrismicSearch">
        <sequence>
            <module name="Elgentos_PrismicIO" />
            <module name="Magento_Search" />
            <module name="Magento_CatalogSearch" />
            <module name="Smile_ElasticsuiteCore" />
        </sequence>
    </module>
</config>
